.task2 {
    .form-control {
    	margin:10px auto;
    	font-weight: 600;
    }
    #attention{
    	color:$col_r;
    	font-weight: 700;
    	font-size:1rem;
    	text-align: center;
    	padding:0px 0px 10px 0px;
    }
}