.task3 {
    .form-group {
        margin-bottom: 0.5rem;
    }
    label {
        font-weight: 700;
        font-size: 1.2rem;
    }
    .help-block {
        margin-bottom: 0;
        font-size: 0.8rem;
        font-style: italic;
    }
}